# Core functionality - changes here should be rare!
/src/app.py                   @kianpu34593
/src/backend/database.py      @kianpu34593
/src/backend/routers/auth.py  @kianpu34593

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kianpu34593
